body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background:  #47761E;
}
.box1
{
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 800px;
	padding: 20px;
	box-sizing: border-box;
	background:  #c7c7a6;
	border-radius: 16px;
	box-shadow: 0 5px 15px rgba(0,0,0.5);
	display:flex;
	transition: .5s;
}

.box1:hover
{
	box-shadow: 0 15px 30px rgba(0,0,0.5);
}
.box1 .imgBx
{
width: 150px;	
flex: 0 0 150px;
}

.box1 .imgBx img
{
	max-width: 130%;
	border-radius: 16px;
}
.box1 .imgBx img
{
	min-height: 100%
}


.box1 .content
{
padding-left: 50px 
}
.box1 .content h2
{
	margin: 0;
	padding-left: 0;
	color: #47761E;
	font-size: 30px;
}
.box1 .content p
{
	margin: 0;
	padding-left: 0;
	text-align: justify;
	font-size: 20px;
}


.box2
{
	position: absolute;
	top: 150%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 800px;
	padding: 20px;
	box-sizing: border-box;
	background:  #c7c7a6;
	border-radius: 16px;
	box-shadow: 0 5px 15px rgba(0,0,0.5);
	display:flex;
	transition: .5s;
}

.box2:hover
{
	box-shadow: 0 15px 30px rgba(0,0,0.5);
}
.box2 .imgBx
{
width: 150px;	
flex: 0 0 150px;
}

.box2 .imgBx img
{
	max-width: 130%;
	border-radius: 16px;
}
.box2 .imgBx img
{
	min-height: 100%
}


.box2 .content
{
padding-left: 50px 
}
.box2 .content h2
{
	margin: 0;
	padding-left: 0;
	color: #47761E;
	font-size: 30px;
}
.box2 .content p
{
	margin: 0;
	padding-left: 0;
	text-align: justify;
	font-size: 20px;
}


.box3
{
	position: absolute;
	top: 225%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 800px;
	padding: 20px;
	box-sizing: border-box;
	background:  #c7c7a6;
	border-radius: 16px;
	box-shadow: 0 5px 15px rgba(0,0,0.5);
	display:flex;
	transition: .5s;
}

.box3:hover
{
	box-shadow: 0 15px 30px rgba(0,0,0.5);
}
.box3 .imgBx
{
width: 150px;	
flex: 0 0 150px;
}

.box3 .imgBx img
{
	max-width: 130%;
	border-radius: 16px;
}
.box3 .imgBx img
{
	min-height: 100%
}


.box3 .content
{
padding-left: 50px 
}
.box3 .content h2
{
	margin: 0;
	padding-left: 0;
	color: #47761E;
	font-size: 30px;
}
.box3 .content p
{
	margin: 0;
	padding-left: 0;
	text-align: justify;
	font-size: 20px;
}


.box4
{
	position: absolute;
	top: 300%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 800px;
	padding: 20px;
	box-sizing: border-box;
	background:  #c7c7a6;
	border-radius: 16px;
	box-shadow: 0 5px 15px rgba(0,0,0.5);
	display:flex;
	transition: .5s;
}

.box4:hover
{
	box-shadow: 0 15px 30px rgba(0,0,0.5);
}
.box4 .imgBx
{
width: 150px;	
flex: 0 0 150px;
}

.box4 .imgBx img
{
	max-width: 130%;
	border-radius: 16px;
}
.box4 .imgBx img
{
	min-height: 100%
}


.box4 .content
{
padding-left: 50px 
}
.box4 .content h2
{
	margin: 0;
	padding-left: 0;
	color: #47761E;
	font-size: 30px;
}
.box4 .content p
{
	margin: 0;
	padding-left: 0;
	text-align: justify;
	font-size: 20px;
}

.box5
{
	position: absolute;
	top: 350%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 1700px;
	padding: 20px;
	box-sizing: border-box;
	background:  #c7c7a6;
	border-radius: 16px;
	box-shadow: 0 5px 15px rgba(0,0,0.5);
	display:flex;
	transition: .5s;
}

.box5:hover
{
	box-shadow: 0 15px 30px rgba(0,0,0.5);
}
.box5 .imgBx
{
width: 140px;	
flex: 0 0 150px;
}

.box5 .imgBx img
{
	max-width: 112%;
}
.box5 .imgBx img
{
	min-height: 100%
}


.box5 .content
{
padding-left: 50px 
}
.box5 .content h2
{
	margin: 0;
	padding-left: 0;
	color: #47761E;
	font-size: 30px;
}
.box5 .content p
{
	margin: 0;
	padding-left: 0;
	text-align: justify;
	font-size: 25px;
}



.middle{
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-40%,-40%);
  text-align: center;
  background:  #c7c7a6;
	border-radius: 120px;

}
.btn{
  background: none;
  border: 2px solid #000;
  font-family: "montserrat",sans-serif;
  text-transform: uppercase;
  padding: 12px 20px;
  min-width: 200px;
  margin: 10px;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
}
.btn:hover{
  color: #fff;
}
.btn::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}
.btn1::before{
  transform: scaleX(0);
}
.btn2::before{
  transform: scaleY(0);
}
.btn1:hover::before{
  transform: scaleX(1);
}
.btn2:hover::before{
  transform: scaleY(1);
}

}
.middle{
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.btn{
  background: none;
  border: 2px solid #000;
  font-family: "montserrat",sans-serif;
  text-transform: uppercase;
  padding: 12px 20px;
  min-width: 200px;
  margin: 10px;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
}
.btn:hover{
  color: #fff;
}
.btn::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}
.btn3::before{
  transform: scaleX(0);
}
.btn4::before{
  transform: scaleY(0);
}
.btn3:hover::before{
  transform: scaleX(1);
}
.btn4:hover::before{
  transform: scaleY(1);
}









