body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #f4f4f4;
  }
  
  a {
    color: #000;
  }
  
 
  
  .header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: sticky;
    width: 100%;
    z-index: 3;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 200em;
    padding: 10px 20px;
    text-decoration: none;
  }

  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }

  .header .menu2 {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: left;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
 
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  
  
  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: left;
      max-height: none;
    }

   
    
    
      .header .menu2 {
        clear: none;
        float: right;
        max-height: none;
      }
    .header .menu-icon {
      display: none;
    }
  }
  

  .thin-header {
    height: 105px; 
    background-color: #c53535; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc; 
}

.logo {
    max-width: 115px; 
    height: auto;
}


.logo {
    transition: transform 0.3s ease; 
  }

  
  .logo:hover {
    transform: scale(1.1);
  }
  
  @font-face {
	font-family: 'icomoon';
	src:  url('fonts/icomoon.eot?elm8td');
	src:  url('fonts/icomoon.eot?elm8td#iefix') format('embedded-opentype'),
	  url('fonts/icomoon.ttf?elm8td') format('truetype'),
	  url('fonts/icomoon.woff?elm8td') format('woff'),
	  url('fonts/icomoon.svg?elm8td#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
	
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .icon-cart:before {
	content: "\e93a";
  }
  .icon-tv:before {
	content: "\e95b";
  }
  .icon-earth:before {
	content: "\e9ca";
  }
  .icon-instagram:before {
	content: "\ea92";
  }

  .icon-punilogo:before {
	content: "\e900";
	
  }

  .icon-punishsvg2:before {
	content: "\e901";
  }
  input {
    display: none;
}


.container {
    display: flex;
    justify-content: center;
    margin-top: 70px; 
    margin-bottom: 20px; 
    margin-left: 20px; 
    margin-right: 20px;
    border-radius: 10px;
}

.rammi {
   
    margin: -10px; 
    width: 400px;
    height: 400px;
    overflow: hidden; 
    position: relative;
    background-color: #771212; 
    border-image: linear-gradient(to right, #5c1c03, #701c02);
    border-style: solid;
    border-width: 3px;
    margin: 10px;
    border-radius: 5px;
}
    

.vesti {
    width: 400px;
    height: 400px;
    display: block;
    max-width: 100%;
}

.vesti3 {
    width: 400px;
    height: 600px;
}


.texti {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: shakeogupp 1s infinite alternate, upp 7s forwards;
}






.custom-section {
  background-color: #f0f0f0;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table th,
.custom-table td {
  padding: 10px;
  text-align: left;
}

.custom-table thead {
  background-color: #333;
  color: #fff;
}

.custom-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.custom-button {
  
  color: #c53535;
  padding: 4px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Poetsen One', sans-serif;
  transform: translate(-50%, -50%);
 
  

}

.custom-button:hover {
  color: #7c1d1d;
}



#fullscreen-button {
  position: fixed;
  top: 50%;
  left: 500%;
  transform: translate(-50%, -50%);
  display: inline-block;
  padding: 1px 10px;
  background-color: #c53535;
  color: #fff;
  text-decoration: none;
  border-radius: 1px;
  cursor: pointer;
  position: sticky;
}

#fullscreen-button:hover {
  background-color: #b12c28;
}


.texti-div {
  font-family: 'Poetsen One', sans-serif;
}